{
    "extends": ["strict/es5", "strict/browser"],
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "func-names": 0,
        "id-length": 0,
        "array-bracket-spacing": 0,
        "no-magic-numbers": 0,
        "complexity": 0,
        "init-declarations": 0,
        "no-throw-literal": 0,
        "newline-after-var": 0,
        "max-params": [2, 20],
        "comma-dangle": [2, "never"],
        "id-blacklist": 0,
        "one-var": 0,
        "no-sync": 0,
        "space-before-function-paren": 0,
        "no-empty-function": 0,
        "no-use-before-define": 0,
        "id-match": 0,
        "one-var-declaration-per-line": 0,
        "no-bitwise": 0,
        "no-lonely-if": 0,
        "no-else-return": 0,
        "max-depth": [2, 10],
        "max-statements": [2, 100],
        "no-inline-comments": 0,
        "max-len": [2, 180],
        "no-constant-condition": 0,
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "default-case": 0,
        "filenames/filenames": 0
    },
    "globals": {
        "module": true,
        "Uint8Array": true,
        "Uint32Array": true
    }
}
